
.app-functions__subject {
  @include container;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.app-functions__subject:first-of-type {
  margin-bottom: 30px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
  }
}

.app-functions__subject:last-of-type {
  margin-bottom: 95px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    padding: 0 100px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
    padding: 0 110px;
  }
}

.app-functions__list-wrapper {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../img/phone-with-smile.png");
  background-repeat: no-repeat;
  background-position: 50% calc(100% + 43px);
  padding-top: 16px;
  padding-bottom: 283px;
  background-color: $gray-300;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
    background-image: url("../img/phone-with-smile-tablet.png");
    background-position: 0 0;
    padding-left: 310px;
    padding-top: 71px;
    padding-bottom: 41px;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-top: 350px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    background-image: url("../img/phone-with-smile-desktop.png");
    background-size: 100%;
    background-position: 50% 0;
  }
}

.app-functions__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $desktop-width) {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 252px);
    column-gap: 68px;
    background-color: $gray-300;
    margin-top: -50px;
    padding-top: 50px;
    list-style: none;
  }
}

.app-functions__list-item {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.app-functions__list-item:nth-of-type(1) {
  margin-bottom: 31px;
}

.app-functions__list-item:nth-of-type(2) {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}


.app-functions__list-item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.app-functions__item-subject {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 13px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    margin-bottom: 24px;
    text-align: center;
    order: 0;
  }
}

.app-functions__item-description {
  font-size: 14px;
  line-height: 24px;
  color: $gray-500;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 0;
    text-align: center;
    order: 1;
  }
}

.app-functions__item-description:last-of-type {
  margin-bottom: 0;
}

.app-functions__spacer {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-right: 60px;
  }
}
