.app {
  background-color: $bg-dark;
}

.app__button {
  margin-top: 28px;
  margin-bottom: 32px;
}

.app ul {
  list-style: none;
}

.app__platform-description {
  font-weight: 300;
  line-height: 24px;
  color: $text-white;
}
