.button {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 280px;
  height: 55px;
  border: 3px solid $bg-white;
  border-radius: 30px;
  color: $text-white;
}

.button--pink {
  color: $pink;
  border-color: $pink;
}

.button--transparent {
  color: $gray-dark-transparent-1;
  border-color: $gray-dark-transparent-1;
}
