.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid $white;
  border-radius: 30px;
  color: $white;
  padding: 15px 4px;
  text-align: center;
}

.button--pink {
  color: $pink;
  border-color: $pink;

  &:hover {
    background-color: $pink;
    color: $white;
  }

  &:active {
    color: $white-transparent-30;
    background-color: $pink;
  }
}

.button--transparent {
  color: $gray-500-transparent-1;
  border-color: $gray-500-transparent-1;

  &:hover {
    color: $gray-500-transparent-3;
    border-color: $gray-500-transparent-3;
  }

  &:active {
    color: $white-transparent-30;
    background-color: $gray-500-transparent-3;
    border-color: transparent;
  }
}
