.contest-form__legend {
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
}

.contest-form__group {
  border: none;
}

.contest-form__mark {
  text-transform: uppercase;
}

.contest-form__mark span {
  color: $pink;
}

