.copyright {
  display: flex;
  min-width: 130px;
  justify-content: space-between;
}

.copyright__text {
  line-height: 18px;
  margin: 0;
  align-self: center;
  padding-top: 1px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-right: 13px;
  }
}

.copyright__link {
  margin: 0;
}

.copyright__link img {
  padding-top: 10px;
}
