.copyright {
  display: flex;
  min-width: 130px;
  justify-content: space-between;
}

.copyright__text {
  line-height: 18px;
  margin: 0;
  align-self: center;
  padding-top: 1px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-right: 13px;
  }
}

.copyright__link {
  margin: 0;
}

.copyright__logo {
  padding-top: 10px;

  &:active path {
    opacity: 0.3;
  }

  &:hover:not(:active) path {
    fill: $gray-500;
  }
}
