.edit-switches {
  display: flex;
  flex-wrap: wrap;
}

.edit-switches__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 35px;
  margin-bottom: 34px;
  cursor: pointer;
}

.edit-switches__button:last-of-type {
  margin-right: 0;
}

.edit-switches__button--big {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: none;
  }
}

.edit-switches__button--small {
  @media (max-width: $mobile-width) and (min-width: $desktop-width) {
    display: none;
  }
}
