.edit-switches__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 35px;
  margin-bottom: 34px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.edit-switches__button path {
  @media (min-width: $desktop-width) {
    fill: $pink;
  }
}

.edit-switches__button g {
  @media (min-width: $desktop-width) {
    opacity: 1;
  }
}

.edit-switches__button:nth-of-type(2) {
  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.edit-switches__button:last-of-type {
  margin-right: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.edit-switches__button--big {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: none;
  }
}

.edit-switches__button--small {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
