.field {
  color: $pink;
  text-transform: uppercase;
}

.field__input {
  font-size: 18px;
  border: 2px solid $gray-light;
  border-radius: 1px;
}

.field__input::placeholder {
  color: $gray-dark;
}
