.form-button {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid $green-500;
  border-radius: 3px;
  background-color: $green-500;
  color: $white;
  padding: 17px 46px 18px 45px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 17px 56px 18px 55px;
  }
}

.form-button:hover,
.form-button:focus,
.form-button:active {
  background-color: $green-600;
  border-color: $green-600;
}

.form-button:active {
  color: $white-transparent-30;
}
