.form-radio {
  margin: 0;
  padding: 0;
  background-color: $gray-300;

  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $gray-200;
    border-radius: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-radio span {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-radio__list {
  list-style: none;
  margin-top: 40px;
  margin-left: 65px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    margin-left: 94px;
  }
}

.form-radio__item {
  margin-bottom: 43px;
}

.form-radio__item:last-of-type {
  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }
}

.form-radio label {
  font-size: 18px;
  margin-left: 25px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.form-radio__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: auto;
  }
}

.form-radio__input + label::before,
.form-radio__input + label::after {
  content: "";
  position: absolute;
}

.form-radio__input + label::before {
  left: -70px;
  top: -8px;
  width: 41px;
  height: 41px;
  border: 2px solid $gray-200;
  border-radius: 50%;
  background-color: $white;

  @media (min-width: $tablet-width) {
    left: -61px;
  }
}

.form-radio__input:checked + label::after {
  left: -57px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -48px;
  }
}

.form-radio__input:focus + label::before,
.form-radio__input:hover + label::before {
  border: 2px solid $gray-500;
}

.form-radio__input:active + label::before {
  border: 2px solid $pink;
}
