.form-button {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid $bg-green;
  border-radius: 1px;
  background-color: $bg-green;
  color: $text-white;
  padding: 23px 45px;
}
