.form-group__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-group__item {
  margin-bottom: 17px;
}

.form-group__item:last-of-type {
  margin-bottom: 0;
}

.form-group--personal {
  padding: 0;
  border: none;
}

.form-group--contacts {
  @media (max-width: $mobile-width) {
    border: none;
  }
}

.form-group--textarea {
  @media (max-width: $mobile-width) {
    border: none;
  }
}

.form-group__textarea {
  width: 280px;
  height: 200px;
  font-size: 18px;
  line-height: 30px;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  border: 2px solid $gray-200;
  border-radius: 3px;
}

.form-group__textarea::placeholder {
  color: $gray-500;
}

.form-group__textarea legend {
  color: $gray-500;
  font-size: 18px;
}
