.form-radio {
  margin: 0;
  padding: 0;
  background-color: $gray-300;

  @media (min-width: $tablet-width) {
    background-color: $white;
    order: 2;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    width: initial;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.form-radio__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-radio label {
  font-size: 18px;
}

.form-radio__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: initial;
    margin: initial;
  }
}
