.form-checkbox {
  padding: 0;
  margin: 0;
  background-color: $gray-300;

  @media (min-width: $tablet-width) {
    background-color: $white;
    order: 4;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
  }
}

.form-checkbox__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: initial;
    margin: initial;
  }
}

.form-checkbox label {
  font-size: 18px;
}

.form-checkbox__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
