.page-footer__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  margin-bottom: 15px;
}

.page-footer__social {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-left: -12px;
    margin-top: 2px;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    margin-top: -13px;
  }
}
