.page-main__app-functions {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
  }
}

.page-main__article-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 109px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    background-color: $gray-300;
    margin-bottom: 72px;
    padding-bottom: 120px;
  }
}

.page-main__reviews {
  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.page-main__form {
  margin-top: 44px;

  @media (min-width: $tablet-width) {
    margin-top: 92px;
  }
}

.page-main__photo {
  margin-top: 54px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 100px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}
