.page-header {
  display: flex;
  flex-direction: column;
  background-image: url("../img/back-header.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: $gray-800;
  margin-bottom: 46px;

  @media (min-width: $tablet) {
    background-image: url("../img/back-header-tablet.png");
    margin-bottom: 48px;
  }

  @media (min-width: $desktop) {
    background-image: url("../img/back-header-desktop.png");
    margin-bottom: 57px;
  }
}

.page-header__logo {
  margin: 21px 20px;
}

.page-header__toggle {
  margin: 21px 20px;

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__wrapper {
  background-color: $black-transparent;
}

.page-header__top-bar {
  background-color: $gray-500;

  @media (min-width: $desktop) {
    position: static;
    display: grid;
    grid-template-columns: 147px auto;
    background: none;
    width: 940px;
    margin: 0 auto;
  }
}

.page-header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  height: 66px;
  width: 100%;

  @media (min-width: $tablet) {
    min-height: 110px;
  }

  @media (min-width: $desktop) {
    min-height: 110px;
  }
}

.page-header__content-wrapper--main {
  background-repeat: no-repeat;
  background-image: url("../img/hand-with-phone.png");
  background-size: object-fit;
  background-position: 50% 28%;
  padding-top: 120px;

  @media (min-width: $tablet) {
    background-image: url("../img/hand-with-phone-tablet.png");
    background-position: 50% 0%;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    min-height: 545px;
  }

  @media (min-width: $desktop) {
    background-image: url("../img/hand-with-phone-desktop.png");
    width: 940px;
    min-height: 645px;
  }
}

.page-header__content-wrapper--form {
  min-height: 171px;

  @media (min-width: $tablet) {
    min-height: 330px;
  }

  @media (min-width: $desktop) {
    min-height: 284px;
  }
}

.page-header__content-wrapper--catalog {
  min-height: 171px;

  @media (min-width: $tablet) {
    min-height: 330px;
  }

  @media (min-width: $desktop) {
    min-height: 284px;
  }
}

.page-header__title-container {
  @include container;
}

.page-header__title {
  text-align: center;
  font-weight: 300;
  color: $white;
  font-size: 24px;
  margin-top: -110px;
}

.page-header__title--main {
  width: 280px;
  line-height: 29px;
  margin-bottom: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet) {
    width: 300px;
    font-size: 40px;
    line-height: 48px;
    margin-left: 0;
    margin-bottom: 39px;
    padding-left: 27px;
    padding-right: 27px;
  }

  @media (min-width: $desktop) {
    width: 300px;
    font-size: 50px;
    line-height: 68px;
    margin-left: 0;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 51px;
  }
}

.page-header__title--form {
  width: 228px;
  line-height: 33px;
  margin-top: 36px;
}

.page-header__title--catalog {
  width: 172px;
  line-height: 33px;
  margin-top: 36px;
}
