.page-header__bg-wrapper {
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: $bg-dark;
}

.page-header__nav-wrapper--active {
  position: relative;
  z-index: 2;
  background-color: $gray-dark;
}

.page-header__inner-wrapper--active {
  position: relative;
  z-index: 2;
  background-color: $bg-transparent;
}

.page-header__title-wrapper {
  background-image: url("../img/hand-with-phone.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 286px;
}

.page-header__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: $text-white;

}
