.page-footer__subject {
  @include container;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 45px;
  padding-left: 49px;
  padding-right: 49px;


  @media (min-width: $tablet) {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 51px;
    padding-left: 125px;
    padding-right: 125px;
  }

  @media (min-width: $desktop) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 61px;
    padding-left: 239px;
    padding-right: 239px;
  }
}
