.page-footer__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  margin-bottom: 15px;
}

.page-footer__social {
  margin-bottom: 15px;
}
