.page-header {
  background-image: url("../img/back-header.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: $gray-800;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-header-tablet.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-header-desktop.png");
  }
}

.page-header__logo,
.page-footer__logo {
  &:active path {
    opacity: 0.3;
  }

  &:hover:not(:active) path {
    fill: $pink;
  }
}

.page-header__logo {
  margin-top: 23px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
    margin-left: 0;
  }
}

.page-header__toggle {
  position: relative;
  padding: 0;
  width: 50px;
  height: 24px;
  align-self: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__wrapper {
  background-color: $black-transparent;
}

.page-header__top-bar {
  background: $gray-500;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 20px;
    background: none;
    width: 940px;
    margin: 0 auto;
  }
}

.page-header__top-bar--opened {
  position: relative;

  @media (max-width: $desktop-width) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
    }

    &::before {
      top: 69px;
      height: 1px;
      background-color: $black;
    }

    &::after {
      top: 70px;
      height: 1px;
      background-color: $white-transparent-15;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    &::before {
      top: 109px;
    }

    &::after {
      top: 110px;
    }
  }
}

.page-header__top-bar--closed {
  background: none;
}

.page-header__top-bar--opened .page-header__toggle,
.page-header__top-bar--closed .page-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $white;
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    background-color: $pink-transparent-3;
  }
}

.page-header__top-bar--opened .page-header__toggle {
  &::before,
  &::after {
    top: -3px;
    left: 17px;
    width: 3px;
    height: 30px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      left: 37px;
    }
  }
}

.page-header__top-bar--closed .page-header__toggle {
  &::before {
    top: 0;
    right: 0;
    width: 50px;
    height: 4px;
    box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
  }

  &:hover::before {
    box-shadow: 0 10px 0 0 $pink, 0 20px 0 0 $pink;
  }

  &:active::before {
    box-shadow: 0 10px 0 0 $pink-transparent-3, 0 20px 0 0 $pink-transparent-3;
  }
}

.page-header__inner-wrapper {
  @include container;
  display: flex;
  height: 66px;

  @media (min-width: $tablet-width) {
    min-height: 109px;
  }

  @media (max-width: $desktop-width) {
    justify-content: space-between;
  }
}

.page-header__top-bar--opened .page-header__inner-wrapper {
  @media (max-width: $desktop-width) {
    height: 69px;
  }
}


.page-header__main-nav {
  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.page-header__top-bar--opened .main-nav__list {
  @media (max-width: $desktop-width) {
    position: absolute;
  }
}

.page-header__top-bar--closed .page-header__main-nav {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__top-bar--nojs .page-header__toggle {
  display: none;
}

.page-header__content-wrapper--main {
  background-repeat: no-repeat;
  background-image: url("../img/hand-with-phone.png");
  background-position: 50% 110px;
  padding-top: 133px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/hand-with-phone-tablet.png");
    background-position: 50% 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 145px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hand-with-phone-desktop.png");
    background-position: 17px 100%;
    width: 940px;
  }
}

.page-header__content-wrapper--not-main {
  padding-top: 28px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 90px;
  }
}

.page-header__content-wrapper--catalog {
  padding-top: 36px;
  padding-bottom: 84px;

  @media (min-width: $tablet-width) {
    padding-top: 81px;
    padding-bottom: 143px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 104px;
  }
}

.page-header__title-container {
  @include container;
}

.page-header__title {
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: $white;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.page-header__title--main {
  width: 280px;
  margin-top: -110px;
  margin-bottom: 315px;
  margin-left: auto;
  margin-right: auto;


  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 0;
    margin-top: -50px;
    margin-bottom: 30px;
    padding-left: 27px;
    padding-right: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    margin-top: -46px;
    margin-left: 0;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 37px;
  }
}

.page-header__title--not--main {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 33px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 620px;
    font-size: 50px;
    line-height: 68px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
