.photo__subject {
  @include container;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 97px;
  }
}

.photo__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr min-content 1fr;
  }
}

.photo__item {
  @media (max-width: $mobile-width) {
    margin: 0 auto;
    width: 280px;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.photo__item:nth-of-type(odd) {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-left: 15px;
    margin-right: auto;
  }
}

.photo__item:nth-of-type(even) {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-left: auto;
    margin-right: 15px;
  }
}

.photo__item:nth-of-type(3n+1) {
  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-right: auto;
  }
}

.photo__item:nth-of-type(3n+2) {
  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 10px;
  }
}

.photo__item:nth-of-type(3n+3) {
  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-right: 10px;
  }
}


.photo__item--hot {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 100%;
    grid-column: 1 /-1;
  }
}

.photo__image {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 300px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.photo__image--hot {
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 509px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    min-height: 506px;
  }
}

.photo__label {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: $pink;
  color: $white;
  padding: 6px 20px;
  position: absolute;
  top: 0;
  right: 20px;
}

.photo__article {
  background-color: $gray-300;
  padding: 15px 7px 16px 17px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    min-height: 155px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}

.photo__article--hot {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-bottom: 50px;
  }
}

.photo__author {
  display: inline-block;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__text {
  line-height: 24px;
  margin: -2px 0 7px 0;
}

.photo a {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  color: $pink;
  text-transform: uppercase;
  padding-left: 31px;

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    top: 2px;
    left: 0;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
  }
}

.photo__spacer {
  padding-right: 10px;
}
