.rates {
  min-height: 460px;
  padding-top: 81px;
  padding-bottom: 24px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 344px;
    padding-top: 65px;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    min-height: 534px;
    padding-top: 155px;
    padding-bottom: 55px;
  }
}

.rates__item:first-of-type {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $gray-300;
    border: none;
  }
}

.rates__list {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-bottom: 27px;
  margin-bottom: 14px;
}

.rates__table {
  background-color: $white;
  flex-shrink: 0;
  border-collapse: collapse;
}

.rates__item {
  background-color: $gray-500;
  height: 98px;
  width: 280px;
  border-right: 2px solid $gray-200;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    height: 80px;
    width: 156px;
  }

  @media (min-width: $desktop-width) {
    height: 98px;
    width: 236px;
  }
}

.rates__item--current {
  position: relative;

  &::before {
    display: block;
    content: "Хит";
    position: absolute;
    text-align: center;
    padding-bottom: 4px;
    width: 100px;
    height: 0;
    border-bottom: 23px solid $pink;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    top: 12px;
    left: -24px;
    color: $white;
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 90px;
      padding-bottom: 5px;
      padding-right: 5px;
      top: 10px;
      left: -22px;
      border-bottom: 19px solid $pink;
      border-left: 19px solid transparent;
      border-right: 19px solid transparent;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 110px;
      padding-bottom: 4px;
      padding-right: 5px;
      top: 13px;
      left: -26px;
      border-bottom: 23px solid $pink;
      border-left: 23px solid transparent;
      border-right: 23px solid transparent;
    }
  }
}

.rates__name {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: $white;
  margin-top: 3px;
  margin-bottom: auto;

  @media (min-width: $tablet-width) {
    margin-top: 1px;
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-top: -2px;
    margin-left: 2px;
    margin-bottom: 0;
  }
}

.rates__item:nth-of-type(3) .rates__name {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 2px;
  }
}

.rates__item:nth-of-type(4) .rates__name {
  @media (min-width: $tablet-width) {
    margin-left: -4px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.rates__cost {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
  margin-top: -4px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-top: -4px;
    margin-left: 5px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 2px;
  }
}

.rates__item:nth-of-type(4) .rates__cost {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.rates__advantage {
  position: relative;
  height: 60px;
  border: 2px solid $gray-200;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 20px;

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
    right: 20px;
    top: 17px;
  }

  &--active {
    &::after {
      width: 31px;
      height: 21px;
      right: 18px;
      background-image: url("../img/yes.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    text-transform: none;
    padding-left: 18px;
    padding-top: 7px;
    height: 46px;

    &::after {
      right: 63px;
      top: 9px;
    }

    &--active {
      &::after {
        top: 11px;
        right: 61px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    text-transform: none;
    padding-left: 24px;
    padding-top: 13px;
    height: 61px;
    font-size: 18px;

    &::after {
      right: 103px;
      top: 16px;
    }

    &--active {
      &::after {
        top: 18px;
        right: 101px;
      }
    }
  }
}

.rates__table td:nth-of-type(n+2) {
  @media (min-width: $tablet-width) {
    color: transparent;
  }
}

.rates__advantage--description {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    border: 1px solid $gray-200;
    border-right: none;

    &::after {
      display: none;
    }
  }
}

.rates__toggles {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
