.rates {
  background-color: $gray-300;
  min-height: 460px;
  padding-top: 81px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    min-height: 344px;
    padding-top: 55px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    min-height: 534px;
    padding-top: 157px;
    padding-bottom: 98px;
  }
}

.rates__item:first-of-type {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $gray-300;
    border: none;
  }
}

.rates__list {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-bottom: 27px;
  margin-bottom: 14px;
}

.rates__table {
  background-color: $white;
  flex-shrink: 0;
  border-collapse: collapse;
}

.rates__item {
  background-color: $gray-500;
  height: 98px;
  width: 280px;
  border-right: 2px solid $gray-200;

  @media (min-width: $tablet-width) {
    height: 75px;
    width: 152px;
  }

  @media (min-width: $desktop-width) {
    height: 94px;
    width: 233px;
  }
}

.rates__item--current {
  position: relative;

  &::before {
    display: block;
    content: "Хит";
    position: absolute;
    text-align: center;
    padding-bottom: 4px;
    width: 100px;
    height: 0;
    border-bottom: 23px solid $pink;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    top: 12px;
    left: -24px;
    color: $white;
    transform: rotate(-45deg);
  }
}

.rates__name {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: $white;
  margin-top: 3px;
  margin-bottom: auto;
}

.rates__cost {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
  margin-top: -4px;
  margin-bottom: 19px;
}

.rates__advantage {
  position: relative;
  height: 60px;
  border: 2px solid $gray-200;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 20px;

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
    right: 20px;
    top: 17px;
  }

  &--active {
    &::after {
      width: 31px;
      height: 21px;
      right: 18px;
      background-image: url("../img/yes.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    text-transform: none;
    padding-left: 15px;
    padding-top: 5px;
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    text-transform: none;
    padding-left: 22px;
    padding-top: 12px;
    height: 59px;
    font-size: 18px;
  }
}

.rates__table td:nth-of-type(n+2) {
  @media (min-width: $tablet-width) {
    visibility: hidden;
  }
}

.rates__advantage--description {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    border: 1px solid $gray-200;
    border-right: none;
  }
}

.rates__toggles {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
