.reviews {
  @include container;
  min-height: 364px;

  @media (min-width: $tablet-width) {
    min-height: 280px;
  }

  @media (min-width: $desktop-width) {
    min-height: 292px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.reviews__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__author {
  color: $black;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding-top: 41px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 11px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 2px;
  }
}

.reviews__author-about {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    line-height: 30px;
    margin: 0 0 21px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 7px;
  line-height: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    padding-left: 125px;
    padding-right: 125px;
    margin-top: 112px;
  }
}

.reviews__toggles {
  padding: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__controls {
  position: relative;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.reviews__control {
  position: absolute;
  width: 22px;
  height: 41px;
  top: -194px;
  border: none;
  background-repeat: no-repeat;
  background-color: inherit;
  cursor: pointer;
  fill: $gray-500;
  opacity: 0.3;

  &--left {
    background-image: url("../img/arrow-left.svg");
    left: 0;
  }

  &--right {
    background-image: url("../img/arrow-right.svg");
    right: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
