.reviews {
  @include container;
  min-height: 364px;

  @media (min-width: $tablet-width) {
    min-height: 280px;
  }

  @media (min-width: $desktop-width) {
    min-height: 292px;
  }
}

.reviews__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__author {
  color: $black;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding-top: 41px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 11px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.reviews__author-about {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    line-height: 30px;
    padding-bottom: 10px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 7px;
  line-height: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    padding-left: 125px;
    padding-right: 125px;
  }
}

.reviews__toggles {
  padding: 0;
}
