.reviews__author {
  color: $black;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.reviews__bg-triangle  {
  height: 19px;

  @media (min-width: $tablet) {
    height: 41px;
  }

  @media (min-width: $desktop) {
    height: 100px;
  }
}
