.user-photo__subject {
  @include container;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.user-photo__form {
  background-color: $gray-300;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.user-photo__form-wrapper {
  @include container;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    background-color: $gray-300;
    padding-bottom: 33px;
  }
}

.user-photo__image {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-row: 1 / -1;
    width: 300px;
    height: 400px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.user-photo__edit-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.user-photo__range-wrapper {
  margin-bottom: 78px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 0;
  }
}

.user-photo__switches {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 57px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 38px;
    margin-right: 28px;
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -1px;
    margin-top: -2px;
    margin-right: 45px;
  }
}

.user-photo__range-group {
  @media (min-width: $tablet-width) {
    display: grid;
    margin-top: 20px;
    margin-bottom: 30px;
    grid-template-rows: 73px 70px 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: 110px;
  }
}

.user-photo__range-item {
  margin: 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.user-photo__range-item--active {
  margin: 0;
  display: block;
}

.user-photo__edit-buttons {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 3px;
    padding-left: 23px;
    margin-left: 22px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 2px;
    padding-left: 0;
    margin-left: 0;
    margin-top: 1px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
