$gray-200: #e5e5e5;
$gray-300: #f2f2f2;
$gray-500: #283645;
$gray-500-transparent-6: rgba(40, 54, 69, 0.6);
$gray-500-transparent-3: rgba(40, 54, 69, 0.3);
$gray-500-transparent-1: rgba(40, 54, 69, 0.1);
$gray-800: #1d2631;

$green-300: #3dc644;
$green-500: #2aab6d;
$green-600: #1c9b5e;
$orange: #f25b26;
$pink: #d22856;
$pink-transparent-3: rgba(210, 40, 86, 0.3);

$black: #000000;
$black-transparent: rgba(0, 0, 0, 0.3);
$black-transparent-15: rgba(0, 1, 1, 0.15);
$black-transparent-75: rgba(1, 1, 1, 0.75);
$white: #ffffff;
$white-transparent-15: rgba(255, 255, 255, 0.15);
$white-transparent-30: rgba(255, 255, 255, 0.3);

$mobile-width: 659px;
$tablet-width: 660px;
$desktop-width: 960px;
